html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.drawer-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.selector-container {
    background-color: lightgrey;
    width: 330px;
    height: 800px;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    margin-top: 30px;
    margin-left: 30px;
}

.loc-selector {
    margin-top: 7px;
    font-size: 1.25rem;
    width: 100%;
    padding: 10px 40px 10px 55px;
    background-color: #f2f2f2;
    color: #333;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.loc-selector:hover,
.loc-selector:focus {
    border-color: #888;
    outline: none;
}

.svg-container {
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

