html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.drawer-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.selector-container {
    background-color: lightgrey;
    width: 160px;
    height: 340px;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    margin-top: 10px;
    margin-left: 10px;
}

.loc-selector {
    font-size: 10px;
}

.svg-container {
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

